<h2>Table of Contents</h2>
<ol class="toc">
<ul class='toc no-parts'>
  <li>
    <a href='#leanpub-auto-the-world-of-the-potato-district'>The World Of The Potato District</a>
  </li>
  
  <p> </p>
  
  <li>
    <a href='#leanpub-auto-part-one'>Part One</a>
  </li>
  <li>
    <a href='#leanpub-auto-hematos-guilt'>Hemato’s Guilt</a>
  </li>
  <li>
    <a href='#leanpub-auto-my-name-is-hemato'>My Name Is Hemato</a>
  </li>
  <li>
    <a href='#leanpub-auto-anna-as-my-wife'>Anna As My Wife</a>
  </li>
  <li>
    <a href='#leanpub-auto-strapped-onto-a-broken-motorcycle'>Strapped Onto A Broken Motorcycle</a>
  </li>
  <li>
    <a href='#leanpub-auto-une-danse-de-mort'>Une Danse De Mort</a>
  </li>
  <li>
    <a href='#leanpub-auto-allure-in-death'>Allure In Death</a>
  </li>
  <li>
    <a href='#leanpub-auto-what-they-call-loneliness'>What They Call Loneliness</a>
  </li>
  <li>
    <a href='#leanpub-auto-a-dangerous-game-of-deranged-chess-masters'>A Dangerous Game Of Deranged Chess Masters</a>
  </li>
  <li>
    <a href='#leanpub-auto-my-own-desires'>My Own Desires</a>
  </li>
  <li>
    <a href='#leanpub-auto-no-breads-to-share'>No Breads To Share</a>
  </li>
  <li>
    <a href='#leanpub-auto-resentment-for-the'>Resentment For The</a>
  </li>
  <li>
    <a href='#leanpub-auto-the-cyber-mortuary-of-a-severed-head'>The Cyber Mortuary of A Severed Head</a>
  </li>
  <li>
    <a href='#leanpub-auto-the-severed-head-of-anna-marie'>The Severed Head Of Anna-Marie</a>
  </li>
  <li>
    <a href='#leanpub-auto-children-at-heart'>Children At Heart</a>
  </li>
  <li>
    <a href='#leanpub-auto-where-the-outlaws-came-to-play'>Where The Outlaws Came To Play</a>
  </li>
  <li>
    <a href='#leanpub-auto-country-no-longer-my-home----anna-marie'>Country No Longer My Home – Anna-Marie</a>
  </li>
  
  <p> </p>
  
  <li>
    <a href='#leanpub-auto-part-two'>Part Two</a>
  </li>
  <li>
    <a href='#leanpub-auto-super-sentience'>Super-Sentience</a>
  </li>
  <li>
    <a href='#leanpub-auto-dangling-like-a-noose'>Dangling Like A Noose</a>
  </li>
  <li>
    <a href='#leanpub-auto-an-inhuman-mass-of-pixels'>An Inhuman Mass Of Pixels</a>
  </li>
  <li>
    <a href='#leanpub-auto-keep-your-nose-clean'>Keep Your Nose Clean</a>
  </li>
  <li>
    <a href='#leanpub-auto-locking-her-father-out'>Locking Her Father Out</a>
  </li>
  <li>
    <a href='#leanpub-auto-mean-streets-of-the-alleycat'>Mean Streets Of The Alleycat</a>
  </li>
  <li>
    <a href='#leanpub-auto-keyboards-and-broken-glass'>Keyboards And Broken Glass</a>
  </li>
  <li>
    <a href='#leanpub-auto-an-outcast-in-love'>An Outcast In Love</a>
  </li>
  <li>
    <a href='#leanpub-auto-eat-quietly-then-leave'>Eat Quietly, Then Leave</a>
  </li>
  <li>
    <a href='#leanpub-auto-the-wolves-cry-out'>The Wolves Cry Out</a>
  </li>
  
  <p> </p>
  
  <li>
    <a href='#leanpub-auto-part-three'>Part Three</a>
  </li>
  <li>
    <a href='#leanpub-auto-her-manifest'>Her Manifest</a>
  </li>
  <li>
    <a href='#leanpub-auto-breaking-the-game'>Breaking The Game</a>
  </li>
  <li>
    <a href='#leanpub-auto-the-deepest-blood-of-the-heart'>The Deepest Blood Of The Heart</a>
  </li>
  <li>
    <a href='#leanpub-auto-something-somewhere-lurking'>Something Somewhere Lurking</a>
  </li>
  <li>
    <a href='#leanpub-auto-dantino-the-king-quaterer'>Dantino, The King Quaterer</a>
  </li>
  <li>
    <a href='#leanpub-auto-part-four'>Part Four</a>
  </li>
  <li>
    <a href='#leanpub-auto-attack-of-the-ape-goat'>Attack Of The Ape-Goat</a>
  </li>
  <li>
    <a href='#leanpub-auto-the-king-quaterer-at-the-edge-of-dreams'>The King Quaterer At The Edge Of Dreams</a>
  </li>
  <li>
    <a href='#leanpub-auto-minor-hearing-loss'>Minor Hearing Loss</a>
  </li>
  <li>
    <a href='#leanpub-auto-attack-at-the-community-center'>Attack At The Community Center</a>
  </li>
  <li>
    <a href='#leanpub-auto-hair-like-80s-synthwave'>Hair Like 80s Synthwave</a>
  </li>
  <li>
    <a href='#leanpub-auto-nadine-wanted-to-rot'>Nadine Wanted To Rot</a>
  </li>
  
  <p> </p>
  
  <li>
    <a href='#leanpub-auto-part-five'>Part Five</a>
  </li>
  <li>
    <a href='#leanpub-auto-birth-of-mr-clocktime'>Birth Of Mr. Clocktime</a>
  </li>
  <li>
    <a href='#leanpub-auto-mr-clocktime-eats-chinese'>Mr. Clocktime Eats Chinese</a>
  </li>
  <li>
    <a href='#leanpub-auto-mr-clocktime-sees-hope-in-vella'>Mr. Clocktime Sees Hope In Vella</a>
  </li>
  <li>
    <a href='#leanpub-auto-mr-clocktime-entertains-vella'>Mr. Clocktime Entertains Vella</a>
  </li>
  <li>
    <a href='#leanpub-auto-vella-could-hear-the-hum'>Vella Could Hear The Hum</a>
  </li>
  <li>
    <a href='#leanpub-auto-not-a-human-story'>Not A Human Story</a>
  </li>
</ul>
</ol>
